* {
  box-sizing: border-box;
}

:root {
  --gray1: #c9c9c9;
  --gray2: #f2f2f2;
  --blue: #0290ff;
  --darkGray: gray;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

#root {
  background-color: var(--gray2);
}

html {
  padding: 3vw;
  background-color: var(--gray1);
}

body {
  background-color: white;
  border-radius: 3px;
}

section {
  padding: 3vw;
}

header {
  padding: 1vw 3vw 1vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray1);
  background-color: white;
}

header > nav {
  display: flex;
}

header > nav > h1 {
  color: var(--blue);
}

header > nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}

header > nav > ul a {
  text-decoration: none;
  color: var(--darkGray);
}

#userAccount {
  width: 50px;
  height: 50px;
  border: 1px solid var(--gray1);
  color: var(--blue);
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

#bookList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book {
  border: 1px solid var(--gray1);
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.book > .bookInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book .bookCategory {
  color: var(--darkGray);
}

.book .bookTitle {
  font-size: 2rem;
}

.book .bookAuthor {
  color: var(--blue);
}

.progressContainer {
  width: 100px;
}

.bookActions {
  margin: 5px 0 5px 0;
  display: flex;
  gap: 5px;
}

.verticalLine {
  border-left: 1px solid var(--gray1);
  height: 20px;
}

.verticalLine.big {
  height: 100px;
}

.infoContainer {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

form button,
section > button {
  background-color: var(--blue);
  color: white;
  border: none;
  width: 300px;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 5px;
}

.infoContainer button {
  background-color: var(--blue);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.chapterInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

form {
  color: var(--darkGray);
}

form > .inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

form input {
  font-size: 1.3rem;
  padding: 15px;
  border: 1px solid var(--gray1);
  width: 100%;
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--darkGray);
  opacity: 1;

  /* Firefox */
}

.bookActions > button {
  border: none;
  background-color: transparent;
  color: var(--blue);
  padding: 0;
}

.bookActions > button:hover {
  cursor: pointer;
  color: var(--darkGray);
}

.currenChapter {
  color: var(--darkGray);
}
