* {
  box-sizing: border-box;
}

:root {
  --gray1: #c9c9c9;
  --gray2: #f2f2f2;
  --blue: #0290ff;
  --darkGray: gray;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

#root {
  background-color: var(--gray2);
}

html {
  padding: 3vw;
  background-color: var(--gray1);
}

body {
  background-color: white;
  border-radius: 3px;
}
